{{#if premium}}
<div class="premium-container">
    <h2 class="premium-title">Premium</h2>
    <table class="premium-table">
      <thead>
        <tr>
          <th>Insurance Company Name</th>
          <th>Expiring Terms</th>
          <th>
            <img src="icici-logo.png" alt="ICICI" class="logo"> ICICI Lombard
          </th>
          <th>
            <img src="godigit-logo.png" alt="Go Digit" class="logo"> Go Digit
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Net Premium</td>
          <td class="gray-box"></td>
          <td class="gray-box">Rs.1,00,000.00</td>
          <td class="declined-box">Declined</td>
        </tr>
        <tr>
          <td>GST @ 18%</td>
          <td class="gray-box"></td>
          <td class="gray-box">Rs.18,000</td>
          <td></td>
        </tr>
        <tr>
          <td>Gross Premium</td>
          <td class="gray-box"></td>
          <td class="gray-box">Rs.1,18,000.00</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
{{/if}}
